.project {
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
    cursor: pointer;
}

.project, .project-content, .project-image {
    transition: .3s;
}

.project h2 {
    word-wrap: break-word;
}

.project .project-image {
    width: 70%;
    height: 70%;
    max-width: 180px;
    min-width: 100px;
    filter: drop-shadow(5px 5px 5px #222);
}

.project:hover {
    background-color: #FFFFFF22;
    border-radius: 10%;
}

.project:hover {
    transform: translateY(-3%);
}