.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about ::part {
    margin-top: 5px;
    margin-bottom: 5px;
}

.about-container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}