.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .socials {
    display: flex;
  }
  
  .name-h1 {
    margin: 0;
    font-size: 50px;
  }
  
  .projects-h1 {
    margin: 0;
  }
  
  .section-divider {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 1px;
    width: 40%;
    background-color: #FFFFFF22;
  }

  .home-footer {
    margin-bottom: 30px;
  }

  .home-footer .router-link {
    font-size: 13px;
  }
  
  .home-footer .router-link + .router-link {
      margin-left: 15px;
  }

  .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }